$color:red;
$color-dark-background-primary: #0c0a29;
$color-dark-background-secondary: #3a3a47;
$color-dark-third: #848490;
$color-dark-scheme:$color-dark-background-primary, $color-dark-background-secondary, $color-dark-third;
$color-dark-scheme-light-dark:$color-dark-background-secondary,$color-dark-background-primary;
$neon-pink-1:#fc00ff;
$neon-pink-2:#fd6fff;
$neon-pink-3:#ff00e2;
$neon-blue-1:#00fff7;
$neon-blue-2:#00e0ff;
