@font-face {
  font-family: 'Cascadia Code', sans-serif;
  src: url('./CascadiaCodePL-Regular.otf') format('opentype');
}@font-face {
  font-family: 'Agree Personal Use';
  src: url('./AgreePersonalUse-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Agree Personal Use';
  src: url('./AgreePersonalUse-Black.otf') format('opentype');
}
 @font-face {
  font-family: 'Agree Personal Use';
  src: url('./AgreePersonalUse-Bold.otf') format('opentype');
}@font-face {
  font-family: 'Agree Personal Use';
  src: url('./AgreePersonalUse-Thin.otf') format('opentype');
}
